{% extends "base.html" %}

{% block content %}
<h1 class="title">
  About
</h1>
<h2 class = "body">
    This website allows for users to host plots of land for planting<br>
    It also allows for users to enter what plants they've planted at specific locations<br>
    Users can modify the plots they have by deleting or adding plots<br>
    Users can also modify what plants they've planted<br>
    Users can only delete plants that they've planted themselves<br>
    the same way that users can only delete plots they've created<br>
</h2>
{% endblock %}