<!-- templates/index.html -->


{% extends "base.html" %}

{% block content %}
<h1 class="title">
  Flask Login Example
</h1>
<h2 class="subtitle">
  Easy authentication and authorization in Flask.
</h2>
{% endblock %}

<style>
  table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
  }
  
  th {
    background-color: green;
    color: white;
  }
  
  td {
    background-color: white;
    color: black;
  }
  
  table.center {
    margin-left: auto; 
    margin-right: auto;
  }
  </style>